.list-container {
  border: 1px solid silver;
  height: 90%;


  display: flex;
  flex-wrap: wrap;

  overflow-y: auto;
}

.tempCard {
  border: thin solid red;
  height: 300px;
  width: 250px;
  margin: 1rem;
}