.main-footer{
  background-color: black;
  flex: .5;
  display: flex;
  justify-content: flex-end;
}
.main-footer p {
  padding-right: 10px;
  margin: 0;
}

.main-footer i {
  color: white;
  font-size: 8px;
  /* margin: 10px; */
}
.main-footer em {
  color: white;
  font-size: 12px;
}