.form {
  border: thin solid red;
  background-color: lightgray;
  width: 30%;

  display: flex;
  flex-direction: column;
}

.form * {
  margin: 5px;
}

.form button:hover {
  background-color: blue;
  color: white;
}