.snippet-card {
  border: thin solid orange;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  min-height: 50px;
}

.snippet-card:hover {
  background-color: blue;
}
.snippet-card:hover .card-field{
  color: white;
}

.card-field {
  width: 12%;
  border: thin solid black;
}