.content-container {
  border: 2px solid black;
  flex: 9;

  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  flex: 1;
  min-width: 30%;
}

.gallery {
  border: thin solid blue;
  flex: 3;

  min-width: 50%;
}
