.content-container {
  /* border: 3px dashed green; */
  /* flex: 9; */
  height: 93%;

  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  /* flex: 1; */
  min-width: 30%;
}

/* .gallery {
  border: thin solid blue;
  flex: 3;

  min-width: 50%;
} */
