.main-header {
  border: 3px dashed grey;
  height: 75px;
  background-color: aliceblue;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav {
  border: 2px solid red;
  margin: 5px;
}