.main-header {
  /* border: 3px dashed grey; */
  height: 75px;
  /* background-color: aliceblue; */
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* ------ main nav styling ----------- */
.main-nav {
  display: flex;
  flex-wrap: wrap;
  border: thin solid green;
}

.logo-header {
  /* border: thin solid red; */
  margin: 0;
}

nav {
  border: thin solid blue;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navlink {
  border: thin solid orange;
  margin: 2px;
  text-decoration: none;

  display: flex;
  align-items: center;
}

.navlink:hover, .navlink:focus {
  color: orangered;
}

.navlink:active {
  color: blue;
}

/* ---------- quicklink styling -------- */
.quicklinks {
  display: flex;
  flex-wrap: wrap-reverse;
}