.list-container {
  border: 3px dashed red;

  /* flex: 2.5; */
  height: 100%;
  display: flex;
  flex-direction: column;

}

.list-header {
  display:flex;
  justify-content: space-between;
  border: 2px solid black;
  font-weight: 600;
  padding: 0 .5rem;
}

.create-button {
  width: 2rem;
  height: 2rem;
  align-self: center;
}

.search {
  align-self: center;
}

.quicklinks {
  display: flex;
  /* border: thin solid blue; */

}