.eventboard {
  grid-area: eventboard;
  border: 1px solid red;
  background-color: lightgray;

  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.post-it {
  border: 1px solid white;
  border-radius: 3%;
  box-shadow: 5px 5px #808080;
  margin: 1rem;

  color: black;

  min-width: 200px;
  max-width: 25%;
  height: 200px
}