.form {
  border: thin solid red;
  background-color: lightgray;
  min-width: 35%;
  flex: 1;

  display: flex;
  flex-direction: column;
}

.form * {
  margin: 5px;
  color: black;
}

.form button:hover {
  background-color: blue;
  color: white;
}