.main-header {
  border: 2px solid black;
  background-color: black;

  height: 50px;
  margin: 0;
  flex: .75;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* ------ main nav styling ----------- */
.main-nav {
  display: flex;
  flex-wrap: wrap;
  /* border: thin solid green; */
}

.logo-header {
  /* border: thin solid red; */
  margin: 0;
}

nav {
  /* border: thin solid blue; */
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navlink {
  /* border: thin solid orange; */
  margin: 2px;
  
  text-decoration: none;
  color: white;
  font-size: 1rem;

  display: flex;
  align-items: center;
}

.navlink:hover, .navlink:focus {
  color: orangered;
}

.navlink:active {
  color: blue;
}

/* ---------- quicklink styling -------- */
.quicklinks {
  display: flex;
  flex-wrap: wrap-reverse;
}