.main-header {
  border-bottom: 1px solid white;
  height: 5%;
  
  padding: 0 1rem;
  

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ------ main nav styling ----------- */
.main-nav {
  display: flex;
  flex-direction: column;

  border: thin solid green;
}

.menu {
  border: thin solid red;
}


nav {
  /* border: thin solid blue; */
  margin: 5px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.navlink {
  /* border: thin solid orange; */
  margin: 2px;
  
  text-decoration: none;
  color: white;
  font-size: 1rem;

  display: flex;
  align-items: center;
}

.navlink:hover, .navlink:focus {
  color: orangered;
}

.navlink:active {
  color: blue;
}

/* ---------- quicklink styling -------- */
.quicklinks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
}